/* Global Variables */
:root {
  --font-main: "Merriweather";
  --font-color: #f4f6f9;

  /* Cart Button Colors */
  --button-normal: #403432;
  --button-hover: #776763;
  --button-disabled: #c1b4b1;
  --button-in-cart: #5b3a32;

  /* Search Button Colors */
  --button-search: #403432;

  /* Search Input Text Colors */
  --search-text-active: #343030;
  --search-text-inactive: #9f9f9f;
}

/* Typography */
body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

// Safari styles adjustment but google also affected

// @supports (-webkit-line-clamp: 1) {
//   /* стили для Safari */
//   .cartButton {
//     font-weight: 590 !important;
//   }
//   .searchInput button {
//     font-weight: 590 !important;
//   }
//   .cardsContainerTittle h1 {
//     font-weight: 590;
//   }
// }

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  color: #343030;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}

h4,
h5 {
  font-size: 14px;
  line-height: 21px;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: 400;
}

@import "header";

@import "catalog";

@import "footer";

@import "responsive";
