/* Global Variables */
:root {
  --font-main: "Merriweather";
  --font-color: #f4f6f9;

  /* Cart Button Colors */
  --button-normal: #403432;
  --button-hover: #776763;
  --button-disabled: #c1b4b1;
  --button-in-cart: #5b3a32;

  /* Search Button Colors */
  --button-search: #403432;

  /* Search Input Text Colors */
  --search-text-active: #343030;
  --search-text-inactive: #9f9f9f;
}

/* Typography */
body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  // font-size-adjust: 0.5;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  color: #343030;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}

h4,
h5 {
  font-size: 14px;
  line-height: 21px;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: 400;
}

/* HeaderBar */
.headerBar {
  display: flex;
  align-content: center;
  // width: 1920px;
  width: 100%;
  min-height: 97px;
  top: -1px;
  gap: 0px;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
}

/* Link Styling */
a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: var(--font-main);
  cursor: default;
  color: var(--search-text-active);
}

a:hover {
  color: #23212179;
}

.router-link-active {
  color: #23212179;
}

.searchInput {
  display: flex;
  position: relative;
  margin-left: 162px;
  flex-shrink: 0;
  width: 416px;
  height: 48px;
  border: 1px solid var(--search-text-inactive);
  position: relative;
  box-sizing: border-box;

  &:focus-within {
    border: 1px solid var(--search-text-active);
  }

  form {
    display: flex;
    align-items: center;
    width: 218px;
    height: 21px;
    margin: 13px 182px 14px 16px;
    box-sizing: border-box;

    input {
      font-family: var(--font-main);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      width: 218px;
      height: 21px;
      background-color: #f6f3f3;
      border: none;
      padding: 0px;
      box-sizing: border-box;

      &::placeholder {
        color: var(--search-text-inactive);
      }

      &:focus {
        outline: none;
        color: var(--search-text-active);
        border: none;
      }
    }
  }

  button {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 122px;
    height: 48px;
    padding: 0;
    background-color: var(--button-search);
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 700;
    color: var(--font-color);
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: var(--button-hover);
    }

    &:active {
      transform: scale(0.999);
      background-color: darken(#776763, 10%);
    }
  }
}

/* Card Container Styles */

.cardsContainerTittle {
  display: flex;
  align-items: center;
  position: sticky;
  margin-top: 45px;
  margin-bottom: 39px;
  width: 100%;
  min-width: 1216px;
}

.cardsContainerTittle h1 {
  margin: 0;
}

.cardsBox {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 328px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.soldCard {
  opacity: 50%;
}

.soldText {
  font-family: var(--font-main);
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-underline-position: from-font;
  color: #343030;
}

.cardImage {
  width: 100%;
  height: 168px;
  box-sizing: border-box;
}

.cardImage img {
  width: 100%;
  height: 160px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
}

.cardTittle {
  display: flex;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 54px;
  margin: 12px 36px 0 24px;
}

.priceButtonBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.priceButtonBoxSold {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: start;
  align-items: center;
  margin-left: 24px;
}

.priceBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPrice {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  color: #343030;
}

.cancelPrice {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  text-decoration-line: line-through;
  text-underline-position: from-font;
  color: #a0a0a0;
}

.cardButton {
  display: flex;
  margin-left: 21px;
}

.cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 118px;
  height: 48px;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  color: var(--font-color);
  background-color: var(--button-normal);
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--button-hover);
  }

  &:active {
    transform: scale(0.999);
    background-color: darken(#776763, 10%);
  }

  &:disabled {
    background-color: var(--button-disabled);
    pointer-events: none;
  }

  &.in-cart {
    background-color: var(--button-in-cart);
    &:hover {
      background-color: var(--button-hover);
    }
  }
}

.cartButton img {
  margin-right: 4px;
  height: 20px;
  width: 20px;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* FooterBar  */

.footerBar {
  display: flex;
  /* width: 1920px; */
  min-height: 96px;
  background-color: #eceaea;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footerBar a {
  color: #555555;
}

.footerBar a:hover {
  color: #23212179;
}

.footerBar .router-link-active {
  color: #23212179;
}

.contactPhoneBox {
  display: flex;
  margin-left: 126px;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.phoneNumber {
  display: flex;
  box-sizing: border-box;
}
.phoneIcon {
  display: flex;
  margin-right: 8px;
  box-sizing: border-box;
}
.locationBox {
  display: flex;
  margin-left: 51px;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.locationIcon {
  display: flex;
  margin-right: 8px;
  box-sizing: border-box;
}

.address {
  display: flex;
}
